<div class="row">
    <div class="col-lg-12">
        <div class="nav-bar">
            <img src="D:\Lovely\assignment\src\assets\logo.png" alt="logo-image">

            <ng-container *ngIf="i18nLang">
                <select id="langSelector" [(ngModel)]="i18nLang" (change)="onChange($event)">
                    <option value="en">English</option>
                    <option value="fr">French</option>
                </select>
            </ng-container>
            
            <button mat-raised-button (click)="logout()" *ngIf="storeData?.id">
                Logout
            </button>
        </div>
        <hr class="solid">
    </div>
</div>