<div class="row">
    <div class="col-lg-12">
        <div class="nav-bar">
            <img src="assets/Logo.jpg" alt="logo-image">
            <div>
                <ng-container *ngIf="i18nLang">
                    <select id="langSelector" [(ngModel)]="i18nLang" (change)="onChange($event)">
                        <option value="en">English</option>
                        <option value="fr">French</option>
                    </select>
                </ng-container>
                <button mat-raised-button (click)="logout()" *ngIf="storeData?.id">
                    {{'logout' | translate}}
                </button>
            </div>

        </div>
        <hr class="solid">
    </div>
</div>