button {
    border-radius: 1.5rem;
    padding: .75rem;
    border-style: none;
    background-color: darkcyan;
    font-size: 14px;
    color: white;
    margin-bottom: 2rem;
}

table {
    border-collapse: collapse;
    width: 100%;

    
  #table-header thead {
    background-color: cadetblue !important;
    color: aliceblue !important;
  }
  }
  

  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #D6EEEE;
    color: black;
  }

  tr:nth-child(odd) {
    background-color: white;
    color: black;
  }
  
  