
    <div class="row">
        <div class="col-lg-12">
            <button mat-raised-button (click)="addData(template)" class="add-button">
                Add data
            </button>
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">            
            
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.first_name}} {{element.last_name}}</td>
                </ng-container>
            
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef>Action</th>
                    <td mat-cell *matCellDef="let element" (click)="OpenModal(template, element)"> Edit </td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            </div>
        </div>

        <ng-template #template>
            <app-details (closeModal)="closeModal()" (updateTable)="updateTable()" [inputData]="inputData"></app-details>
         </ng-template>

        <ngx-spinner type="ball-scale-multiple"></ngx-spinner>
    
    