.container {
    padding: 0 2rem 2rem 2rem;
}

h1 {
    margin-bottom: 2rem;
    font-family: effra;
    color: darkblue;
    font-size: 2.5rem;
}

.add-button {
    border-radius: 1.5rem;
    padding: .75rem;
    border-style: none;
    background-color: darkcyan;
    font-size: 14px;
    color: white;
    margin-bottom: 2rem;
}

table {
    width: 50%;
  }
  