<div class="modal">
  <div class="modal-content">
    <span class="close-icon">&times;</span>
    <form class="add-popup-form">
      <div class="row-1">
        <div>
          <label for="text">First Nae</label>
          <input type="text" id="first-name" placeholder="Enter first Name">
        </div>
        <div>
          <label for="text">Last Name</label>
          <input type="text" id="last-name" placeholder="Enter last Name">
        </div>
      </div>
      <div class="row">
        <label for="number">Phone number</label><br/>
        <input type="number" id="phn-nmbr" placeholder="Phone number">
      </div>


      <button type="submit">Submit</button>
    </form>
  </div>