<!-- <div class="modal"> -->
  <!-- <div class="modal-content">
    <span class="close-icon">&times;</span>
    <form class="add-popup-form">
      <div class="row">
        <div class="col-lg-6">
          <label for="text">First Name</label>
          <input type="text" id="first-name" placeholder="Enter first Name">
        </div>
        <div class="col-lg-6">
          <label for="text">Last Name</label>
          <input type="text" id="last-name" placeholder="Enter last Name">
        </div>      
      <div class="col-lg-12">
        <label for="number">Phone number</label><br/>
        <input type="number" id="phn-nmbr" placeholder="Phone number">
      </div>
    </div>

      <button type="submit">Submit</button>
    </form>
  </div> -->


  <div class="modal-header">
    <h4 class="modal-title pull-left">Add User</h4>
    <button type="button" class="close pull-right" aria-label="Close">
       <span aria-hidden="true">x</span>
    </button>
 </div>
 <div class="modal-body">
  <form class="add-popup-form">
    <div class="row">
      <div class="col-lg-6">
        <label for="text">First Name</label>
        <input type="text" id="first-name" placeholder="Enter first Name">
      </div>
      <div class="col-lg-6">
        <label for="text">Last Name</label>
        <input type="text" id="last-name" placeholder="Enter last Name">
      </div>      
    <div class="col-lg-12">
      <label for="number">Phone number</label><br/>
      <input type="number" id="phn-nmbr" placeholder="Phone number">
    </div>
  </div>

    <button type="submit">Submit</button>
  </form>
 </div>
 <div class="modal-footer">
    <button type="button" class="btn btn-default">Close</button>
 </div>