.modal {
    padding: 2rem;
    background-color: white;
    height: auto;
    max-width: min-content
}

.close-icon {
    display: flex;
    justify-content: flex-end;
}

.add-popup-form {  
    display: flex;
    flex-direction: column;
    
  }
  
  .add-popup-form label {
    margin: 16px 10px 5px 0;
  }
  
  .add-popup-form input {
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
  }
  
  .add-popup-form button {
    padding: 10px 20px;
    background-color: dodgerblue;
    margin: 1.5rem 3rem 1rem;
    border: 1px solid #ddd;
    border-radius: 24px;
    color: white;
    cursor: pointer;
  }
  
  .add-popup-form button:hover {
    background-color: royalblue;
  }
  
  