.login-page {
    margin-top: 2rem ;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-bottom: 3rem;
}

form {
    border: 3px solid #f1f1f1;
    border-radius: 8px;
    padding: 20px;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}

.abled {
    background-color: #04AA6D !important;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    display: flex;
    justify-self: center;
    border: none;
    justify-content: center;
    border-radius: 5rem;
    width: 24%;
}

.disabled {
    background-color: grey;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    display: flex;
    justify-self: center;
    border: none;
    justify-content: center;
    border-radius: 5rem;
    width: 24%;
}

